segmentation-models-pytorch
dvc
dvc[gdrive]
torch==1.7.0
torchvision==0.8.0
albumentations
streamlit
seaborn
scikit-learn
tensorboard
opencv-python
black
types-PyYAML==5.4.6 
types-futures==0.1.6 
types-protobuf==3.17.4 
types-setuptools==57.0.2 
types-six==0.1.9 
types-tabulate==0.8.2 
types-toml==0.1.5
wheel
mypy
pytest
tox